// form#register-form {
//   margin-left: 40%;
//   margin-top: 50px;
// }

.page-head-title {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  margin: 10px;
}

label {
  text-align: left;
}
